.ant-picker-dropdown .ant-picker-panel-container {
  .ant-picker-panel-layout {
    display: block;
  }

  .ant-picker-panel {
    width: 100%;
  }
  .ant-picker-content {
    .ant-picker-time-panel-column {
      .ant-picker-time-panel-cell-inner {
        padding-left: 0px;
        width: 100%;
        text-align: center;
      }
    }
  }
}
